@import "app/styles/mixins"
@import "compass/css3/border-radius"
@import "compass/css3/transition"

h1, h2
  +ly-songti-display
  &.ui.header
    margin: 0
    padding: 0

a,a:link,a:hover,a:active
  text-decoration: none
  +border-radius(0.3em)
  &:hover
    +transition(0.5s)

// legislator avatars
img.avatar
  width: 50px
  height: 50px
  border-width: 0 0 4px 0
  border-style: solid
  // margin: 5px
  &.medium
    width: 100px
    height: 100px
img.avatar,.image
  &.KMT
    border-color: #55f
  &.DPP
    border-color: #090
  &.NSU
    border-color: #fbb
  &.TSU
    border-color: #b26
  &.PFP
    border-color: #f90
  &.unknown
    border-color: #000

[legislator]
  .content .name
    white-space: nowrap
  &.hide-name
    .content .name
      display: none

// layout
#container
  margin: 3rem
  padding-top: 1rem
  @media only screen and (max-width: 768px)
    margin-left: 0rem
    margin-right: 0rem

  .about-content
    margin-left: 8rem
    margin-right: 8rem
    width: auto
    padding-top: 1rem
    line-height: 1.5
    @media only screen and (max-width: 768px)
      margin-left: 0rem
      margin-right: 0rem

html.prerender
  background-color: white
  .bill
    .ttsmotions, .summary
      display: none
