@import "./_mixins"
@import "./_ui-step"

@media print
  .hide-print
    display: none !important

  #qrlink
    display: block !important

.history
  path.link, .node rect
    fill: none
    stroke: black
    stroke-width: 1.5px

.bill
  box-sizing: border-box
  .basic-info
    padding-left: 2rem

  #qrlink
    display: none

  .summary
    ly-songti()

  .ui.label.light.gray
    background-color: #eee
    color: #666

  .ttsmotions
    margin-top: 0
    .header
      display: inline-block
      span
        width: 120px
        display: inline-block
    .description
      display: inline-block
      .page
        padding: 0.3em 0.8em
        color: inherit
        border-radius(0.3em)
        background-color: rgba(#000,0.05)

  .bill-meta
    .ui.sub.menu.related-bill
      .item
        display: block
        line-height: 1.5em
        .related-bill-action
          display: inline
          float: right
        .ui.button
          margin: 0
          padding-top: 0.8em
          padding-bottom: 0.8em

  .bill-progress
    .ui.steps
      margin-bottom: 1rem
      *, :after, :before
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
      .step > .icon
        font-size: 1.3em
        margin: 0em
        padding: 0.2em 0.4em 0 0
        vertical-align: middle
      .step > .icon,
      .step > .icon ~ .content
        display: table-cell;
        vertical-align: top;
      .step .title
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
        font-size: 1.0em
        font-weight: bold
      .step .title ~ .description
        margin-top: 0.2em
        font-size: 0.9em
      .step
        display: inline-block
        position: relative
        margin: 0em 0em
        padding: 0.8em 1em 0.8em 1.4em
        vertical-align: top
        background: #ffffff
        color: rgba(0, 0, 0, 0.8)
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15)
        border-radius: 0em
      .main.step:hover
        background-color: rgba(0,0,0,.02)
      .step:after
        position: absolute
        z-index: 2
        content: ''
        top: 50%
        right: 0em
        border: medium none
        background-color: #ffffff
        width: 1.2em
        height: 1.2em
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        transform: translateY(-50%) translateX(50%) rotate(-45deg)
      .step.not-yet,
      .step.not-yet .title,
      .step.not-yet .description
        color: rgba(0, 0, 0, 0.2)
      .step.scheduled
        cursor: auto
        background: #f0f0f0
      .step.scheduled:after
        background: #f0f0f0
      @media (max-width: 1280px)
        .step > .icon
          display: none
        .step
          padding: 0.8em 1em 0.8em 1.6em
      @media (max-width: 1120px)
        .main.step .title ~ .description
          display: none
    .ui.ordered.steps
      counter-reset: ordered
      .step:before
        display: table-cell
        position: static
        padding: 0.3em 0.6em 0 0
        font-size: 1.2em
        counter-increment: ordered
        content: counters(ordered, ".")
      .step > *
        display: table-cell
        vertical-align: top
    .ui.steps .step.passed > .icon:before,
    .ui.ordered.steps .step.passed:before
      font-family: 'Step'
      content: '\e800'
      color: #2ecc40
    .ui.steps .step.scheduled .title
      color: #009fda
    .ui.steps .step.passed > .icon.exclamation:before
      font-family: Icons
      content: "\f12a"
      color: #e96633
    @font-face
      font-family: Step
      src: url('../fonts/step.woff') format("woff"), 
           url('../fonts/step.ttf') format("truetype")

  .summary
    .description
      font-size: larger
      line-height: 1.5em

  .role
    .committee, .sponsors, .cosponsors
      .content
        padding: 0 0.5rem
    .toggle
      margin: 0
      padding: 1rem 0
      cursor: pointer
      border-radius(0.3em)
      i.icon
        vertical-align: inherit
        opacity: 0.3
      &:before,&:after
        margin: 0
      &:hover
        background-color: rgba(#000,0.03)
        transition(0.5s)
        i.icon
          opacity: 1
          transition(0.5s)
    .item
      text-align: center
      display: inline-block
      margin: 0 0.5rem 0.5rem 0
      .image.ui.rounded.corner
        background-color: #fff
        .avatar,.content,.infocard
          transition(0.5s)
      &.expanded
        .avatar
          width: 50px
          height: 50px
          border-width: 0 0 4px 0
        .content, .infocard
          margin-top: 0.3rem
          display: block
      &.simplified
        .avatar
          border-width: 0.5rem
          width: 0
          height: 0
        .content, .infocard
          margin-top: 0.3rem
          display: none
    .sponsors
      min-height: 5.5rem
      .item:first-child
        float: left
        .avatar
          width: 50px
          height: 50px
          border-width: 0 0 4px 0
        .content, .infocard
          display: block

  .content.default
    margin-bottom: 1rem
    line-height: 1.5rem

    .diff .diff.text,
    [ng-show="diffs.comment"]
      ly-songti()

  p.sample
    text-align: center
    margin: 1rem 0
    .delete,.version
      display: inline-block
      padding: 0.5rem 1rem
      margin: 1rem
      border: 1px #fff solid
    .delete
      background-color: #f99
    .version
      background-color: #A1CF88
      cursor: pointer

  .ui.horizontal.divider
    &:before,&:after
      width: 40%

  .ui.very.thin.sidebar
    .ui.vertical.menu
      width: 8rem
    width: 8rem!important
    margin-left: 0!important
    padding-top: 50px
    white-space: normal

  @media only screen and (min-width: 768px)
    padding: 0 1rem 1rem 9rem

  @media only screen and (max-width: 768px)
    padding: 0 0.5rem 0.5rem 0.5rem

  div[ly-diff]
    .replace.left, .delete.left
      .diff.text em
        em-reset()
        color: #000
    .replace.right, .insert.right
      .diff.text em
        em-reset()
        color: #000
    .ui.ribbon.label a
      margin-top: -90px
      padding-top: 90px

div.item
  outline: none
  text-decoration: none
  position: relative
  strong
    line-height: 30px
  > .infocard
    width: 8em
    padding: 10px
    top: 0px
    margin-left: 140%
    opacity: 0
    visibility: hidden
    z-index: 10
    position: absolute
    font-family: Arial
    font-size: 12px
    font-style: normal
    @include single-box-shadow(#999, 2px, 2px, 2px)
    @include single-transition(all, 0.6s, ease-in-out)
    color: #000000
    background: #FBF5E6
    background: -moz-linear-gradient(top, #fbf5e6 0%, white 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf5e6), color-stop(100%, white))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBF5E6', endColorstr='#FFFFFF',GradientType=0 )
    border: 1px solid #CFB57C
    b
      width: 15px
      height: 15px
      margin-left: 40px
      margin-top: -19px
      display: block
      position: absolute
      background: #FBF5E6
      border-top: 1px solid #CFB57C
      border-right: 1px solid #CFB57C
      @include rotate(-45deg)
    a
      display: block
      color: inherit
      padding: 0.8em
      border-radius(0.3em)
      &:hover
        background-color: rgba(#000,0.05)
        transition(0.5s)
  &:hover > .infocard
    opacity: 1
    text-decoration: none
    visibility: visible
    overflow: visible
    left: -40%
    display: block

.bill.compare
  .bill-meta
    margin-bottom: 1rem
    .menu
      &.number
        .item
          width: 100%
      &.role
        .item
          display: inline-block
          padding: 0
        .item:first-child
          float: left
          .avatar
            width: 50px
            height: 50px
            border-width: 0 0 4px 0
          .content
            display: block
  .row
    margin: 0
    padding: 0
  @media only screen and (max-width: 768px)
    .ui.stackable.grid .row > .column, .ui.stackable.grid > .column
      margin-top: 0!important
