.sittings
  #select-sitting
    margin-top: -1rem
  #sitting-summary
    padding: 0 1rem
    @media only screen and (max-width: 480px)
      padding: 0
    .role
      width: 8rem
      float: left
      margin: 1rem 0 0 0
      .avatar
        width: 8rem
        height: 8rem
      .name
        text-align: center
    .schedule
      margin: 1rem 0 0 10rem
    @media only screen and (max-width: 480px)
      .role
        float: none
        .avatar
          display: none
      .schedule
        margin: 0
  #video
    .player.wrapper
      background-color: rgba(#000,0.7)
      #player
        margin: 0 auto
        display: block
    .share.wrapper
      #share
        margin: 0 auto
        display: block
  #motions
    .motions
      &>.item
        clear: both
      .avatars
        float: left
        width: 5rem
        margin-bottom: 1rem
        .image
          margin: 0 1rem
        .content
          display: block
          text-align: center
          margin-top: 0.3rem
      .motion
        margin: 0 1rem 1rem 5rem
        position: relative
        line-height: 1.8em
        .ui.label
          line-height: 1em
        a
          color: inherit
          padding: 0.3em 0.8em
          background-color: rgba(teal,0.1)
          &:hover
            background-color: rgba(teal,0.2)
        &:after
          display: none
        &:before
          content: ""
          width: 0.5rem
          height: 0.5rem
          position: absolute
          left: -0.3rem
          border: 1px #ddd solid
          border-width: 0 0 1px 1px
          background-color: #fff
          rotate: 45deg

li a i
  padding-right: 3px
#share
  .sharebutton
    font-size: 30px
    margin: 3px 5px
  strong
    margin: 0 10px
  #sharelink
    width: 430px
  .offset
    width: 300px
    input
      width: 150px
.wave-root
  height: 150px
.wav-group
  position: relative
  height: 100px
  margin-top: 50px
  svg
    position: absolute
    top: 0
    left: 0
    z-index: 10
    font-size: 10px
  canvas
    position: absolute
    top: 0
    left: 0
    z-index: 1
    opacity: 0.5

#avatar-tooltip.ui.label.pointing.below
  position: absolute
  z-index: 10
  text-align: center
  /* semantic-ui styling start */
  display: none
  background: #e8e8e8
  padding: 7px 10px
  border-radius: 5px
  /* semantic-ui styling end */
  &:before
    content: " "
    position: absolute
    width: 0.6em
    height: 0.6em
    background: #e8e8e8
    transition: rotate(45deg)
    -webkit-transition: rotate(45deg)
    z-index: 2
  img
    display: block
    width: 64px
    height: 64px
    background: rgba(255,255,255,0.5)
    border-radius: 2px
  .name
    margin-top: 8px

