word-break-sane()
  -ms-word-wrap: break-word
  word-wrap: break-word
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto

ly-songti-display()
  font-family: 'Biaodian Pro Serif CNS', 'Numeral LF Serif', 'Minion Pro', Georgia, 'Times New Roman', 'Han Songti CNS', serif

ly-songti()
  font-family: 'Biaodian Pro Serif CNS', 'Numeral LF Serif', Georgia, 'Times New Roman', 'Han Songti CNS', serif

ly-heiti()
  font-family: 'Biaodian Pro Sans CNS', 'Helvetica Neue', Helvetica, Arial, 'Han Heiti CNS', sans-serif

em-reset()
  vendor('text-emphasis', none)
  border: 0 none
  padding-bottom: auto
