.ly-bill-search
  > .ui.menu:first-child
    margin-top: -1rem
    > .item.active
      box-shadow 0 -0.2em 0 inset
  .ui.segment.bill-search
    .ui.left.corner.label
      text-align: left
      padding-top: 0.3rem
      padding-left: 0.3rem
    > :last-child
      margin-top: 2rem
      margin-bottom: 2rem
