.spy-menu
  position: fixed
  left: 0
  max-height: 100%
  overflow-y: scroll
  top: 50px
  width: 8rem !important
  list-style: none
  a
    outling: 0
  li
    &.highlight
      background-color: #e0e0c3
