.spy-menu
  position: fixed
  margin: 0 !important
  left: 0
  top: 50px
  bottom: 0
  overflow-y: scroll
  width: 8rem !important
  list-style: none
  a
    outling: 0
  li
    &.highlight
      background-color: #e0e0c3
  display: none

@media only screen and (min-width: 768px)
  .spy-menu
    display: block !important
