**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*
app/assets/*html

_public/css
_public/data
_public/fonts
_public/img
_public/js/vendor.js
node_modules/*
bower_components/*
npm-debug.log
out/*

server/*.js

*.swp

# coverage report
coverage
