
<ul class="nav">
  <li ng-class="getClass('/motions')"><a ng-href="/motions">議案</a></li>
  <li ng-class="getClass('/calendar')"><a ng-href="/calendar">預報</a></li>
  <li ng-class="getClass('/sitting')"><a ng-href="/sitting">院會紀錄</a></li>
</ul>
<ul class="nav pull-right">
  <li ng-class="getClass('/about')"><a ng-href="/about">關於</a></li>
  <li><a>
      <div data-send="false" data-href="https://facebook.com/g0v.tw" data-width="120" data-layout="button_count" data-show-faces="false" data-font="verdana" class="fb-like"></div></a></li>
</ul>