.about
    h1 This is pre-alpha!

h2 Source code

a(href="https://github.com/g0v/ly.g0v.tw") Source code
|  is available on github.com and under
a(href="http://g0v.mit-license.org/")  MIT License

h2 Icon attributions
ul.attribution
    li
        a(href='http://thenounproject.com/noun/judge/#icon-No3953', target='_blank') Judge
        | designed by
        a(href='http://thenounproject.com/Luis', target='_blank') Luis Prado
        | from The Noun Project
    li
        a(href='http://thenounproject.com/noun/antenna/#icon-No10279',target='_blank') Antenna
        | designed by
        a(href='http://thenounproject.com/rocavence', target='_blank') Roca Chang
        | from The Noun Project
    li
        a(href='http://thenounproject.com/noun/earth/#icon-No4570', target='_blank') Earth
        | designed by
        a(href='http://thenounproject.com/thibault.geffroy', target='_blank') Thibault Geffroy
        | from The Noun Project
    li
        a(href='http://thenounproject.com/noun/institution/#icon-No1564', target='_blank') Institution
        | designed by
        a(href='http://thenounproject.com/thibault.geffroy', target='_blank') Thibault Geffroy
        | from The Noun Project
h2 Icons by Alice, ETBlue and WalkingIce
.g0v-icon-list
    .item
        i.g0v-icon.KMT.large
        |  國民黨黨徽  ( i.g0v.icon.KMT )
    .item
        i.g0v-icon.DPP.large
        |  民進黨黨徽  ( i.g0v-icon.DPP )
    .item
        i.g0v-icon.PFP.large
        |  親民黨黨徽  ( i.g0v-icon.PFP )
    .item
        i.g0v-icon.TSU.large
        |  台灣團結聯盟黨徽  ( i.g0v-icon.TSU )
    .item
        i.g0v-icon.NSU.large
        |  無黨籍聯盟黨徽  ( i.g0v-icon.NSU )
    .item
        i.g0v-icon.NON.large
        |  無黨籍  ( i.g0v-icon.NON )
    .item
        i.g0v-icon.CON.large
        |  修憲委員會  ( i.g0v-icon.CON )
    .item
        i.g0v-icon.DIS.large
        |  紀律委員會  ( i.g0v-icon.DIS )
    .item
        i.g0v-icon.FIN.large
        |  財政委員會  ( i.g0v-icon.FIN )
    .item
        i.g0v-icon.EDU.large
        |  教育及文化委員會  ( i.g0v-icon.EDU )
    .item
        i.g0v-icon.ECO.large
        |  經濟委員會  ( i.g0v-icon.ECO )
    .item
        i.g0v-icon.FND.large
        |  外交與國防委員會  ( i.g0v-icon.FND )
    .item
        i.g0v-icon.IAD.large
        |  內政委員會  ( i.g0v-icon.IAD )
    .item
        i.g0v-icon.JUD.large
        |   司法與法制委員會  ( i.g0v-icon.JUD )
    .item
        i.g0v-icon.PRO.large
        |  程序委員會  ( i.g0v-icon.PRO )
    .item
        i.g0v-icon.SWE.large
        |  社會福利及衛生環境委員會  ( i.g0v-icon.SWE )
    .item
        i.g0v-icon.TRA.large
        |  交通委員會  ( i.g0v-icon.TRA )
    .item
        i.g0v-icon.YS.large
        |  院會  ( i.g0v-icon.YS )
