.about-content
  h3.ui.header 開放國會：從資料透明走向公民參與
  | 曾經我們以為人人有票投就是民主，但如果缺乏監督機制，缺少了民意參與的民主如何為眾人謀福利？「國會大代誌」是 g0v.tw 台灣零時政府社群的計畫之一，以開放資料打造開放的國會資訊平台。旨在降低民眾參與的門檻，利用透明資訊、清晰介面、即時分享，提高資訊公開度及公民參與度。
  h3.ui.header 國會大代誌的功能
  | 本站綜合二十個立法院網站資料，將提案、委員會審查、院會各階段文件、影音整理成結構性資料，自動化更新所有資料。「國會大代誌」提供立法院從提案、審查、一二三讀之間所有的文件、影音資料的整合介面。
  h3.ui.header 開發團隊
  | 國會大代誌由 g0v.tw 志願貢獻者維護，由2012年底開始開發，以下為貢獻者：
  a(href="https://github.com/g0v/ly.g0v.tw/graphs/contributors") https://github.com/g0v/ly.g0v.tw/graphs/contributors
  h3.ui.header 聯繫
  | 歡迎到本網站 
  a(href="https://groups.google.com/forum/#!forum/g0v-ly") googlegroups 討論區
  |，或來信 g0v-ly@googlegroups.com。
  h3.ui.header 網站原始碼
  | 國會大代誌原始碼在 
  a(href="https://github.com/g0v/ly.g0v.tw") github.com，以
  a(href="http://g0v.mit-license.org/")  MIT License 
  | 授權。
  h3.ui.header 對了，本站目前為測試版！This is pre-alpha!

