.bill
  h1.bill(title="{{summary}}") {{summary}}

  .bill-progress(ng-if="bill_ref")
    .common.ui.seven.steps
      span.stage(bindonce, ng-repeat="step in steps")
        a.ui.step(ng-click="showSub($index)",bo-class="step.status.step")
          .step-description {{step.description}}
          .date {{step.date}}
          //-.ui.pointing.below.label(ng-class="step.status.step") {{step.date}}
        .ui.state(bo-class="step.status.state"): i.icon(bo-class="step.status.icon")

    .ui.small.steps(bindonce, ng-repeat="step in steps")
      span.stage(ng-show="step.sub", bindonce, ng-repeat="substep in step.detail")
        .ui.step(bo-class="substep.status.step")
          .substep-description {{substep.description}}
            i.icon.archive(bo-show="substep.links") p.
            span(bindonce, ng-repeat="l in substep.links")
              a(target="_blank",bo-href-i="{{l.link}}") {{l.text}}
          .date {{substep.date}}
          //-.ui.pointing.below.label(ng-class="'{{substep.status.step}}'") {{substep.date}}
        .ui.state(bo-class="substep.status.state"): i.icon(bo-class="substep.status.icon")

  .ui.list.ttsmotions(ng-if="ttsmotions")
    .item
      i.icon.exclamation
      | 這應該要整合到上面的列表，但是還沒做好
    .item(bindonce, ng-repeat="ttsmotion in ttsmotions")
        .content
            a.header
              span.date(bo-show='opts.show_date',ng-click='opts.show_date=!opts.show_date') {{ttsmotion.date | date:'yyyy-MM-dd' }}
              span.sitting(bo-show='!opts.show_date',ng-click='opts.show_date=!opts.show_date') {{ttsmotion.sitting_id}}
              | {{ttsmotion.progress || ttsmotion.summary}}
            .description
              | {{ ttsmotion.resolution }}
              i.icon.archive(bo-show="ttsmotion.links") p.
              span(bindonce, ng-repeat="l in ttsmotion.links")
                a(target="_blank",bo-href-i="{{l.link}}") {{l.text}}
  .summary
    .links.ui.vertical.menu.right.floated
      .item(ng-show="bill_ref")
        h4 提案編號 {{ bill_ref }}
      .item.center.right#qrlink
        qrcode(text="http://ly.g0v.tw/bills/{{bill_ref || bill_id}}",size="120")
      .item.hide-print
        i.code.icon
        a(ng-href="http://api.ly.g0v.tw/v0/collections/bills/{{bill_ref || bill_id}}",target="_blank") JSON
      .item.hide-print(ng-show="report.doc.pdf")
        i.file.icon
        a(ng-href="{{report.doc.pdf}}",target="_blank") 審查報告
      .item.hide-print(ng-show="doc.pdf")
        i.file.icon
        a(ng-href="{{doc.pdf}}",target="_blank") PDF
      .item.hide-print(ng-show="doc.doc")
        i.file.icon
        a(ng-href="{{doc.doc}}",target="_blank") Word
      //-.item(ng-show="bill_ref") Related bills
        .menu
          .item
            a(ng-href="",target="_blank")
              | 民法親屬編、繼承編部分條文修正草案
          .item
            a(ng-href="",target="_blank")
              | 民法親屬編、繼承編部分條文修正草案
    p.description {{abstract}}

  .role
    .committee(ng-show="committee")
      ul
          li(bindonce, ng-repeat="c in committee")
              span
                  img.avatar.medium(bo-src-i="http://avatars.io/50a65bb26e293122b0000073/committee-{{c.abbr}}?size=medium",bo-alt="c.name",bo-class="c.abbr")
                  span.name {{c.name}}委員會
    .clearfix
    h2.ui.horizontal.divider 提案人
    .sponsors(ng-show="sponsors")
      .item(bindonce, ng-repeat="e in sponsors")
        .image.ui.rounded.corner.hide-print
         img.avatar(bo-src-i="http://avatars.io/50a65bb26e293122b0000073/{{e.avatar}}?size=medium",bo-alt="e.name",bo-class="e.party")
        .content
          .name {{e.name}}
        span.infocard
          b
          a.fact.text(bo-href-i="http://fact.g0v.tw/wiki/{{e.name}}",target="blank") 生平時間軸
          a.wiki.text(bo-href-i="http://zh.wikipedia.org/wiki/{{e.name}}",target="blank") Wikipedia
    .clearfix
    h2.ui.horizontal.divider 連署人
    .cosponsors(ng-show="cosponsors")
      .item(bindonce, ng-repeat="e in cosponsors")
        .image.ui.rounded.corner.hide-print
          img.avatar(bo-src-i="http://avatars.io/50a65bb26e293122b0000073/{{e.avatar}}?size=small",bo-alt="e.name",bo-class="e.party")
        .content
          .name {{e.name}}
        span.infocard
          b
          a.fact.text(bo-href-i="http://fact.g0v.tw/wiki/{{e.name}}",target="blank") 生平時間軸
          a.wiki.text(bo-href-i="http://zh.wikipedia.org/wiki/{{e.name}}",target="blank") Wikipedia

  .clearfix
  .history
  .clearfix
  .related(ng-show="related")
      ul
          li(bindonce, ng-repeat="r in related")
              span
                  img.avatar(bo-show="r.avatar",bo-src-i="http://avatars.io/50a65bb26e293122b0000073/{{r.avatar}}?size=small",bo-alt="r.name",bo-class="r.party")
                  span.summary {{r.summary}}

  .clearfix
  .content.default(bindonce, ng-repeat="(i, d) in diff")
    a(bo-id="d.name")
    h2.ui.horizontal.divider {{d.name}}

    p.sample
      span.delete(bo-hide="!d.diffbase") {{d.diffbase}}
      span(bo-hide="!d.diffbase") vs
      span.version(bindonce, ng-repeat="v in d.versions",bo-class="{insert: v == d.diffnew}", bo-text="v", ng-click="setDiff(d, v)")
    .diff(bindonce, ng-repeat="diffs in d.diffcontent")
      .column.stackable.ui.grid(bindonce, ng-repeat="diffline in diffs.difflines", bo-class="{two:d.diffbase, one:!d.diffbase}", bo-hide="diffline.left == '' && diffline.right == ''")
        .column.left(bo-class="diffline.state", bo-hide="!d.diffbase")
          .ui.segment.article-text
            a(id="original-{{diffs.leftItemAnchor}}",bo-href-i="#original-{{diffs.leftItemAnchor}}",bo-show="$index == 0",style="margin-top: -90px; padding-top: 90px")
              .ui.ribbon.label {{diffs.leftItem}}
            .ui.right.corner.label(bo-class="diffstate('left', '{{diffline.state}}')") {{difftxt('left', diffline.state)}}
            .diff.text(href="",target="blank", ng-bind-html="diffline.left")
        .column.right(bo-class="diffline.state")
          .ui.segment.article-text(bo-class="{'mobile-hide': !diffline.right}")
            a.ui.ribbon.label(href="",target="blank",bo-show="$index == 0") {{diffs.rightItem}}
            .ui.right.corner.label(bo-class="diffstate('right', '{{diffline.state}}')") {{difftxt('right', diffline.state)}}
            .diff.text(href="",target="blank", ng-bind-html="diffline.right")
      .ui.segment.green(ng-bind-html="diffs.comment", bo-show="diffs.comment")
      .ui.horizontal.divider

  .content.navigation.mobile-hide(ng-show="showSidebar")
    .ui.very.thin.sidebar
      .ui.vertical.menu
        .item-section(bindonce, ng-repeat="(i, d) in diff track by $index")
          a.item(bo-href-i="#"+"{{d.name}}") {{d.name}}
          .law-unit-wrap(bindonce, ng-repeat="diffs in d.diffcontent")
            .law-unit(bo-show="diffs.leftItemAnchor"): a.item(bo-href-i="\#original-{{diffs.leftItemAnchor}}") {{diffs.leftItem}}

