.bill(ng-controller="LYBill")
  h1(title="{{summary}}") {{summary}}
  .role.committee(ng-show="committee")
      ul
          li(ng-repeat="c in committee")
              span
                  img.avatar.medium(ng-src="http://avatars.io/50a65bb26e293122b0000073/committee-{{c.abbr}}?size=medium",ng-alt="{{c.name}}",ng-class="{{c.abbr}}")
                  span.name {{c.name}}委員會
  .role.proposal(ng-show="proposal")
      h2 提案人
      ul
          li(ng-repeat="e in proposal")
              span
                  img.avatar.medium(ng-src="http://avatars.io/50a65bb26e293122b0000073/{{e.avatar}}?size=medium",ng-alt="{{e.name}}",ng-class="e.party")
                  span.name {{e.name}}
  .description
      p {{abstract}}

  .role.petition(ng-show="petition")
      h2 連署人
      ul
          li(ng-repeat="e in petition")
              span
                  img.avatar(ng-src="http://avatars.io/50a65bb26e293122b0000073/{{e.avatar}}?size=small",ng-alt="{{e.name}}",ng-class="e.party")
                  span.name {{e.name}}

  .clearfix
  .history
  .clearfix
  .related(ng-show="related")
      ul
          li(ng-repeat="r in related")
              span
                  img.avatar(ng-show="r.avatar",ng-src="http://avatars.io/50a65bb26e293122b0000073/{{r.avatar}}?size=small",ng-alt="{{r.name}}",ng-class="r.party")
                  span.summary {{r.summary}}

  .clearfix
  .content.default(ng-repeat="(i, d) in diff")
      h2 {{d.name}}
      table.diff.legend
          th
              td.delete
                  {{d.diffbase}}
              td vs
              td.version(ng-repeat="v in d.versions",ng-class="{insert: v == d.diffnew}",ng-bind="v",ng-click="setDiff(d, v)")
      ul.lawdiff
          li(ng-repeat="e in d.diffcontent")
              .diff(ng-bind-html-unsafe="e.diff")
              .comment(ng-bind-html-unsafe="e.comment")
