.bill-index
  .ui.menu.tabular
    .item 熱門議案
    a.item(ng-class="{active: currentTab == '1'}",ng-click="currentTab = '1'") 本日
    a.item(ng-class="{active: currentTab == '7'}",ng-click="currentTab = '7'") 本週
    a.item(ng-class="{active: currentTab == '30'}",ng-click="currentTab = '30'") 本月
  .ui.two.column.stackable.grid
    .row(ng-repeat="bill in currentBills",ng-show="bill.sponsors")
      .column
        .item(legislator="bill.sponsors[0]",legislator-style="{size: 'large'}")
        .ui.pointing.left.label
          a(ng-href="/bills/{{bill.bill_ref}}") {{bill.summary || 'xxxxx'}}
      .column
        .ui.detail.label(ng-repeat="step in bill.steps",ng-class="step.status") {{step.desc}}
        .ui.timing.label(ng-if="bill.diffDesc") 從{{bill.diffDesc}}到現在已經 {{bill.diffYear}} {{bill.diffMonth}} {{bill.diffDay}}
        .ui.timing.label(ng-if="!bill.diffDesc") 未知提案時間
