.bill
  .bill-meta
    .links.ui.tiered.menu
      .menu
        .item(ng-show="bill_ref") 提案編號 {{ bill_ref }}
        .item.center.right#qrlink
          qrcode(text="http://ly.g0v.tw/bills/{{bill_ref || bill_id}}",size="120")
        a.item.hide-print(ng-href="http://api.ly.g0v.tw/v0/collections/bills/{{bill_ref || bill_id}}",target="_blank")
          i.code.icon
          | JSON
        a.item.hide-print(ng-show="report.doc.pdf",ng-href="{{report.doc.pdf}}",target="_blank")
          i.file.icon
          | 審查報告
        a.item.hide-print(ng-show="doc.pdf",ng-href="{{doc.pdf}}",target="_blank")
          i.icon.download.disk
          | PDF
        a.item.hide-print(ng-show="doc.doc",ng-href="{{doc.doc}}",target="_blank")
          i.icon.download.disk
          | Word
        a.right.item(ng-init="show_related_bills=false",ng-show="bill_ref",ng-click="show_related_bills=!show_related_bills")
          i.icon.fork.code
          | 相關議案
      .ui.sub.menu.related-bill(ng-show="show_related_bills")
        .item
          | 相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案相關議案
          .related-bill-action
            a.ui.small.button.icon.labeled(ng-href="",target="_blank")
              i.icon.forward.mail
              | 前往此議案
            a.ui.small.button.icon.labeled(ng-href="",target="_blank")
              i.icon.exchange
              | 比較此議案

  .bill-progress(ng-if="bill_ref")
    .common.ui.seven.steps
      span.stage(ng-repeat="step in steps")
        a.ui.step(ng-click="showSub($index)",ng-class="step.status.step")
          .step-description {{step.description}}
          .date {{step.date}}
          //-.ui.pointing.below.label(ng-class="step.status.step") {{step.date}}
        .ui.state(ng-class="step.status.state"): i.icon(ng-class="step.status.icon")

    .ui.small.steps(ng-repeat="step in steps",ng-show="step.sub")
      span.stage(ng-repeat="substep in step.detail")
        .ui.step(ng-class="substep.status.step")
          .substep-description {{substep.description}}
            i.icon.file(ng-show="substep.links")
            |  p. 
            a(ng-repeat="l in substep.links",target="_blank",ng-href="{{l.link}}") {{l.text}}
          .date {{substep.date}}
          //-.ui.pointing.below.label(ng-class="'{{substep.status.step}}'") {{substep.date}}
        .ui.state(ng-class="substep.status.state"): i.icon(ng-class="substep.status.icon")

  .ui.list.ttsmotions(ng-if="ttsmotions")
    .item
      i.icon.down
      | 這應該要整合到上面的列表，但是還沒做好
    .item(ng-repeat="ttsmotion in ttsmotions")
        .content
            a.header
              span.date(ng-show='opts.show_date',ng-click='opts.show_date=!opts.show_date') {{ttsmotion.date | date:'yyyy-MM-dd' }}
              span.sitting(ng-show='!opts.show_date',ng-click='opts.show_date=!opts.show_date') {{ttsmotion.sitting_id}}
              span {{ttsmotion.progress || ttsmotion.summary}}
            .description
              | {{ ttsmotion.resolution }}
              i.icon.file(ng-show="ttsmotion.links")
              |  p. 
              span(ng-repeat="l in ttsmotion.links")
                a.page(target="_blank",ng-href="{{l.link}}")
                  | {{l.text}}

  h1.ui.header.bill(title="{{summary}}") {{summary}}

  .summary
    p.description {{abstract}}

  .role
    //-.ui.segment
    ul.committee(ng-show="committee")
        li(ng-repeat="c in committee")
            span
                img.avatar.medium(ng-src="http://avatars.io/50a65bb26e293122b0000073/committee-{{c.abbr}}?size=medium",ng-alt="{{c.name}}",ng-class="{{c.abbr}}")
                span.name {{c.name}}委員會
    //-.ui.segment
    h2.ui.horizontal.divider 提案人
    .sponsors(ng-show="sponsors")
      .item(ng-repeat="e in sponsors", legislator="e")
        .image.ui.rounded.corner.hide-print
         img.avatar(ng-src="http://avatars.io/50a65bb26e293122b0000073/{{e.avatar}}?size=medium",ng-alt="{{e.name}}",ng-class="e.party")
        .content
          .name {{e.name}}
        span.infocard
          b
          a.fact.text(href="http://fact.g0v.tw/wiki/{{e.name}}",target="blank") 生平時間軸
          a.wiki.text(href="http://zh.wikipedia.org/wiki/{{e.name}}",target="blank") Wikipedia
    //-.ui.segment
    h2.ui.horizontal.divider 連署人
    .cosponsors(ng-show="cosponsors")
      .item(ng-repeat="e in cosponsors", legislator="e")
        .image.ui.rounded.corner.hide-print
          img.avatar(ng-src="http://avatars.io/50a65bb26e293122b0000073/{{e.avatar}}?size=small",ng-alt="{{e.name}}",ng-class="e.party")
        .content
          .name {{e.name}}
        span.infocard
          b
          a.fact.text(href="http://fact.g0v.tw/wiki/{{e.name}}",target="blank") 生平時間軸
          a.wiki.text(href="http://zh.wikipedia.org/wiki/{{e.name}}",target="blank") Wikipedia
  .clearfix
  .history
  .clearfix
  .related(ng-show="related")
      ul
          li(ng-repeat="r in related")
              span
                  img.avatar(ng-show="r.avatar",ng-src="http://avatars.io/50a65bb26e293122b0000073/{{r.avatar}}?size=small",ng-alt="{{r.name}}",ng-class="r.party")
                  span.summary {{r.summary}}

  .clearfix
  .content.default(ng-repeat="(i, d) in diff", scroll-spy)
    a(name="{{d.name}}", spy-target)
    h2.ui.horizontal.divider {{d.name}}

    p.sample
      span.delete(ng-hide="!d.diffbase") {{d.diffbase}}
      span(ng-hide="!d.diffbase") vs
      span.version(ng-repeat="v in d.versions",ng-class="{insert: v == d.diffnew}",ng-bind="v",ng-click="setDiff(d, v)")
    .diff(ng-repeat="diffs in d.diffcontent", spy-target)
      .column.stackable.ui.grid(ng-class="{two:d.diffbase, one:!d.diffbase}", ng-repeat="diffline in diffs.difflines", ng-hide="diffline.left == '' && diffline.right == ''")
        .column(class="left {{diffline.state}}", ng-hide="!d.diffbase")
          .ui.segment.article-text
            a(id="original-{{diffs.leftItemAnchor}}",ng-href="#original-{{diffs.leftItemAnchor}}",ng-show="$index == 0",style="margin-top: -90px; padding-top: 90px")
              .ui.ribbon.label {{diffs.leftItem}}
            .ui.right.corner.label(ng-class="diffstate('left', '{{diffline.state}}')") {{difftxt('left', diffline.state)}}
            .diff.text(href="",target="blank", ng-bind-html="diffline.left")
        .column.right(class="right {{diffline.state}}")
          .ui.segment.article-text(ng-class="{'mobile-hide': !diffline.right}")
            a.ui.ribbon.label(href="",target="blank",ng-show="$index == 0") {{diffs.rightItem}}
            .ui.right.corner.label(ng-class="diffstate('right', '{{diffline.state}}')") {{difftxt('right', diffline.state)}}
            .diff.text(href="",target="blank", ng-bind-html="diffline.right")
      .ui.pointing.label.diff-comment(ng-bind-html="diffs.comment", ng-show="diffs.comment")
      //-.ui.horizontal.divider

  .content.navigation.visible-desktop(ng-show="showSidebar")
    .ui.very.thin.sidebar
      .ui.vertical.menu
        .item-section(ng-repeat="(i, d) in diff track by $index")
          a.item(href="#"+"{{d.name}}", spy) {{d.name}}
          .law-unit-wrap(ng-repeat="diffs in d.diffcontent")
            .law-unit(ng-show="diffs.leftItemAnchor", spy): a.item(ng-href="\#original-{{diffs.leftItemAnchor}}") {{diffs.leftItem}}
script.
  $(".ui.dropdown").dropdown();