.calendar(ng-controller="LYCalendar",ngx-resize)
  ul.nav.nav-tabs
    li(ng-class="{active: type == 'sitting'}")
      a(ng-click="change('sitting')") 一般議程
    li(ng-class="{active: type == 'hearing'}")
      a(ng-click="change('hearing')") 公聽會
  .time 立法院行程：
    select(ng-model="weeks", ng-options="o.label for o in weeksOpts", ng-change="update()")
  .grid(ng-app="ngGrid", ng-grid="gridOptions")
