.image.ui.rounded.corner.hide-print
  i.g0v-icon.large(ng-class="iconClass",ng-if="iconClass",ng-alt="{{name}}")
  a(ng-href="{{twlylink}}", target="blank",ng-if="!iconClass")
    img.avatar(ng-src="{{avatar}}",ng-alt="{{name}}",ng-class="party")
.content(ng-hide="legislatorStyle.hideName")
  .name {{name}}
span.infocard
  b
  a.fact.text(href="http://fact.g0v.tw/wiki/{{name}}",target="blank") 生平時間軸
  a.wiki.text(href="http://zh.wikipedia.org/wiki/{{name}}",target="blank") Wikipedia
  a.text(ng-if="twlylink", ng-href="{{twlylink}}",target="blank") 投票指南
