.motions(ng-class="{list: sitting}")
  h1
    a(href="/motions/{{session}}")
    | 第八屆第二會期
  .row-fluid(ng-hide="sitting")
    .span10.chart
    .span2.legends
  button(id="btnTop", ng-controller="topBtnCtrl", ng-show="showBtn", ng-click="jumpToTop()", class="btn") Jump to Top
  .list(ng-show="sitting")
      h2 第 {{sitting}} 次院會
      .row-fluid
          .span2.sidebar
              ul(class="nav nav-list")
                  li(ng-repeat="s in allStatus",ng-click="setStatus(s.key)",ng-class="{active: s.key == status}")
                      a(href="#") {{s.value}}
              input.filter(ng-model="filter",class="search-query",placeholder="Search")
          .span10.content
              ul(class="nav nav-tabs")
                li(ng-repeat="s in allTypes",ng-click="setType(s.key)",ng-class="{active: s.key == type}")
                  a(href="#") {{s.value}}
              ul.motions(ng-class="{{type}}")
                  li.row(ng-repeat="e in entries | filter:{status: status} | filter:filter")
                      .avatars
                          span(ng-repeat="avatar in e.avatars")
                              img.avatar(ng-src="http://avatars.io/52ed1f85c747b48148000053/{{avatar.avatar}}?size=small",ng-alt="{{avatar.name}}",ng-class="avatar.party")
                      .motion
                          span.item {{ e.item }}
                          span.proposer {{ e.proposer }}
                          a(ng-href="/bills/{{ e.id }}")
                              span.summary {{ e.summary }}
                      .resolution {{ e.resolution }}

