.search(style="height: 600px; max-height: 600px; overflow: auto",when-scrolled="moreResults()")
    h2 搜尋： {{keyword}}
    h4 目前設定之搜尋上限為 {{limit}} 筆
      span(ng-cloak, ng-show="results.length <= 0") ，無搜尋結果
    .results.ui.stackable.items(ng-show="results.length > 0")
      .item(ng-repeat="r in results")
        .content
          .meta {{r.proposed_by}}
          .name
            a(ng-href="/bills/{{r.bill_ref || r.bill_id}}") {{r.summary}}
          p.description {{r.abstract}}
