.search
    .ui.floating.message
      span.keyword 搜尋 {{keyword}}
      img(ng-show="busy", src="/img/loading.gif")
      span(ng-cloak, ng-show="results.length <= 0") ，無搜尋結果
    .results(ng-show="results.length > 0")
      .content.ui.segment(ng-repeat="r in results")
        .ui.top.left.attached.label.red {{r.proposed_by}}
        .body
          span.name
            a(ng-href="/bills/{{r.bill_ref || r.bill_id}}") {{r.summary}}
          p.description {{r.abstract}}
        .ui.bottom.attached.label
          span(ng-repeat="s in r.sponsors", class="sponsor") {{s}}
    h4(detect-visible="moreResults()") 目前找到：{{results.length}} 筆
    img(ng-show="busy", src="/img/loading.gif")
