div.row-fluid.sittings(ng-controller="LYSitting")
    .span2.sidebar
        ul.nav.nav-list.sidebarnav()
            li
                a(href="#announcement") 報告事項
            li
                a(href="#interpellation") 質詢事項
            li(ng-repeat="item in interp")
                a(href="#interpellation-{{item[0][0]}}") {{item[0][0]}}
    .span10.content
        h1 立法院第 {{meta.ad}} 屆第 {{meta.session}} 會期 第 {{meta.sitting}} 次會議記錄
        .meta
            p(ng-repeat="row in meta.raw") {{row}}
        .annoucement
            <a data-toggle="collapse" data-target="#annoucement" class="btn pull-right">+</a>
            h1 報告事項
            hr
            div.collapse(id="annoucement")
              section(ng-repeat="ann in annoucement")
                  {{ann.subject}}
                  div.well(ng-repeat="conv in ann.conversation")
                      span.speaker.label {{conv.speaker}}
                      div.content {{conv.words}}
        .interpellation
            h1 質詢事項
              hr
              <a data-toggle="collapse" data-target="#interp-answers" class="btn pull-right">+</a>
              h2 詢答
              hr
              section(id="interp-answers", class="collapse")
                  div.well(ng-repeat="answer in interpellation.answers")
                     {{answer.receiver}} {{answer.words}}

              <a data-toggle="collapse" data-target="#interp-questions" class="btn pull-right">+</a>
              h2 質詢
              hr
              section(id="interp-questions", class="collapse")
                  div.well(ng-repeat="question in interpellation.questions")
                     {{question.asker}} {{question.words}}

              h2 個人質詢
              section(id="interp-interp")
                  div(ng-class="{well:interp.questioner, collapse:interp.questioner}", ng-repeat="interp in interpellation.interpellations", id="interpellation-{{interp.questioner}}")
                     <a ng-show="interp.questioner" data-toggle="collapse" data-target="#interpellation-{{interp.questioner}}" class="btn pull-right">+</a>
                     h4 {{interp.questioner}}
                     div.well(ng-repeat="conv in interp.conversation")
                         span.speaker.label {{conv.speaker}}
                         div.content {{conv.words}}
