.sittings(ng-cloak)
  script(src="https://www.youtube.com/iframe_api")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js")
  .row-fluid
    .span10.content
      h2(ng-show="loading") Loading
      h1 第{{ ad }}屆第{{ session }}會期
      h2(ng-show="extra")第 {{extra}} 次臨時會
      h2 第{{ sitting }}次會議
      .sitting-options
        select(ng-model="chosenSitting", ng-options="sitting.name for sitting in sittingsSummary")
      .role.committee(ng-show="committee")
        ul
          li(ng-repeat="c in committee")
            span
              img.avatar.medium(ng-src="http://avatars.io/50a65bb26e293122b0000073/committee-{{c.abbr}}?size=medium",ng-alt="{{c.name}}",ng-class="{{c.abbr}}")
              span.name {{c.name}}委員會
      // XXX use mly filter to set styles
      .meta
        .chair(ng-show="dates[0].chair") 主席 {{ dates[0].chair }}
        .dates
          時間
          .date(ng-show="dates", ng-repeat="entry in dates")
            span.date {{entry.date}} :
            span.time-start {{entry.time_start}} - 
            span.time-end {{entry.time_end}}
        .summary(ng-show="summary")
          概要
          p {{ summary }}
      // XXX: show onair and upcoming ivod link
      // XXX: search archived ivod clips for past sittings
      // XXX: show agenda from misq, annotated with info from npl
      // XXX: show debates, wrans if YS
  .row-fluid
    #player
    svg.waveform
