.sittings(ng-cloak)
  script(src="https://www.youtube.com/iframe_api")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js")
  h1
    span {{ name }}
  span(ng-show="videos.length > 0 && !loaded")
    a.pull-right.btn.btn-info(ng-href="/sittings/{{id}}/video") 觀看影片
  .sitting-options(ng-hide="video")
    select(ng-model="chosenSitting", ng-options="sitting.name for sitting in currentList")
    span.spinner.small(ng-show="loadingSitting")
  div(ng-hide="video")
    span.btn-group
      button.btn.dropdown-toggle(data-toggle="dropdown")
        選擇其他
        span.caret
      ul.dropdown-menu
        li
          a(ng-click="setContext('YS')") 院會
        li(ng-repeat="(type, name) in committees")
          a(ng-click="setContext(type)") {{name}}
    span.spinner.small(ng-show="loadingSitting")

  .row-fluid
    .span10.content
      .role.committee(ng-show="committee")
        ul
          li(ng-repeat="c in committee")
            span
              img.avatar.medium(ng-src="http://avatars.io/50a65bb26e293122b0000073/committee-{{c.abbr}}?size=medium",ng-alt="{{c.name}}",ng-class="{{c.abbr}}")
              span.name {{c.name}}委員會
      // XXX use mly filter to set styles
      .hero-unit
        .row(ng-show="dates[0].chair")
          .span3.td-title 主席
          .span9 {{ dates[0].chair }}
        .row(ng-show="dates", ng-repeat="entry in dates")
          .span3.td-title
            span(ng-show="$index==0") 時間
          .span9
            {{entry.date}} : {{entry.time_start}} -  {{entry.time_end}}
        .row(ng-show="summary")
          .span3.td-title 概要
          .span9 {{ summary }}
        .row(ng-show="proceeding_url")
          .span3.td-title 議事錄
          .span9: a(ng-href="{{ proceeding_url }}",target="_blank") PDF
      .row-fluid
        .span10.content
  .row-fluid(ng-show="loaded", ng-show="video")
    #player
    .wav-group(ng-repeat="waveform in waveforms track by $index")
      ng-waveform(ng-model="waveform")
    #avatar-tooltip.ui.label.pointing.below
      img
      .name
      a.btn
        i.icon.play
  .row-fluid(ng-hide="video")
      .entries.motions
          input.filter(ng-model="filter",class="search-query pull-right", placeholder="輸入關鍵字過濾列表")
          ul(class="nav nav-tabs")
            li(ng-repeat="s in allTypes",ng-click="setType(s.key)",ng-class="{active: s.key == type}")
              a(href="") {{s.value}}
          .list
            ul.motions(ng-class="{{type}}")
                li.row(ng-repeat="e in entries | filter:filter")
                    .avatars
                        span(ng-repeat="avatar in e.avatars")
                            img.avatar(ng-src="http://avatars.io/50a65bb26e293122b0000073/{{avatar.avatar}}?size=small",ng-alt="{{avatar.name}}",ng-class="avatar.party")
                    .motion
                        span.item-heading {{ e.item }}
                        span.proposer {{ e.proposed_by }}
                        a(ng-href="/bills/{{ e.bill_ref || e.bill_id }}")
                            span.summary {{ e.summary }}
                        span.label.label-important(ng-show="e.sitting_introduced == sitting_id") new
                    .resolution {{ e.resolution }}
      // XXX: show onair and upcoming ivod link
      // XXX: search archived ivod clips for past sittings
      // XXX: show agenda from misq, annotated with info from npl
      // XXX: show debates, wrans if YS
