.sittings(ng-cloak)
  script(src="https://www.youtube.com/iframe_api")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js")
  h2(ng-show="loading") Loading
  h1
    span 第 {{ ad }} 屆第 {{ session }} 會期
    span(ng-show="extra") 第 {{extra}} 次臨時會
    span 第 {{ sitting }} 次會議
    .sitting-options
        select(ng-model="chosenSitting", ng-options="sitting.name for sitting in sittingsSummary")
  .row-fluid
    .span10.content
      .role.committee(ng-show="committee")
        ul
          li(ng-repeat="c in committee")
            span
              img.avatar.medium(ng-src="http://avatars.io/50a65bb26e293122b0000073/committee-{{c.abbr}}?size=medium",ng-alt="{{c.name}}",ng-class="{{c.abbr}}")
              span.name {{c.name}}委員會
      // XXX use mly filter to set styles
      .meta
        .chair(ng-show="dates[0].chair") 主席 {{ dates[0].chair }}
        .dates
          時間
          .date(ng-show="dates", ng-repeat="entry in dates")
            span.date {{entry.date}} :
            span.time-start {{entry.time_start}} -
            span.time-end {{entry.time_end}}
        .summary(ng-show="summary")
          概要
          p {{ summary }}
  .row-fluid
    #player
    svg.waveform
  .row-fluid
    .span10.content
      .entries.motions
          ul(class="nav nav-tabs")
            li(ng-repeat="s in allTypes",ng-click="setType(s.key)",ng-class="{active: s.key == type}")
              a(href="") {{s.value}}
          .list
            ul.motions(ng-class="{{type}}")
                li.row(ng-repeat="e in entries | filter:{status: status} | filter:filter")
                    .avatars
                        span(ng-repeat="avatar in e.avatars")
                            img.avatar(ng-src="http://avatars.io/50a65bb26e293122b0000073/{{avatar.avatar}}?size=small",ng-alt="{{avatar.name}}",ng-class="avatar.party")
                    .motion
                        span.item {{ e.item }}
                        span.proposer {{ e.proposed_by }}
                        a(ng-href="/bills/{{ e.bill_id }}")
                            span.summary {{ e.summary }}
                    .resolution {{ e.resolution }}
      // XXX: show onair and upcoming ivod link
      // XXX: search archived ivod clips for past sittings
      // XXX: show agenda from misq, annotated with info from npl
      // XXX: show debates, wrans if YS
