.ly-bill

  // TODO implement the filter
  // See http://g0v.github.io/semantic-ui-experiment/ly-bill.html

.bill.list

  //.ui.horizontal.divider 處理中
  .two.column.ui.stackable.grid
    // Some motions are not yet implemented and marked as hidden.
    // TODO: Implement them.
    .column(ng-repeat="motion in motions | filter:{show: true}")
      .bill.ui.segment.orange
        .ui.left.corner.label {{motion.category}}
        //.ui.top.right.attached.label(ng-class="motion.date_class") 本次會議正在進行：{{motion.date}}
        .summary
          p
            a(href="//ly.g0v.tw/bills/{{motion.bill_id}}") {{motion.summary}}
        .ui.bottom.attached.label
          .legislator.image.ui.rounded.corner
            span {{motion.committees}}　提案
            span(ng-repeat="avatar in motion.sponsor_avatars")
              img.small_avatar.DPP(src="http://avatars.io/52ed1f85c747b48148000053/{{avatar}}?size=small")
            span 　連署
            span(ng-repeat="avatar in motion.cosponsor_avatars")
              img.small_avatar.DPP(src="http://avatars.io/52ed1f85c747b48148000053/{{avatar}}?size=small")

  // TODO implement more types.  See http://g0v.github.io/semantic-ui-experiment/ly-bill.html
