.ui.column.stackable.grid(ng-class="{one: baseless, two: !baseless, colored: !baseless}")
  .row(ng-repeat="diffline in difflines track by $index", ng-if="diffline.left || diffline.right")
    .column.left(class="{{diffline.state}}", ng-hide="baseless")
      .ui.segment.article-text
        .ui.ribbon.label(ng-if="$index == 0")
          a(id="original-{{leftItemAnchor}}",ng-href="#original-{{leftItemAnchor}}") {{leftItem}}
        .ui.right.corner.label(ng-class="diffline.leftstate") {{diffline.leftdesc}}
        .diff.text(href="",target="blank", ng-bind-html="diffline.left")
    .column.right(class="{{diffline.state}}")
      .ui.segment.article-text(ng-class="{'mobile-hide': !diffline.right}")
        .ui.ribbon.label(ng-if="$index == 0")
          a(id="proposed-{{rightItemAnchor}}",ng-href="#proposed-{{rightItemAnchor}}") {{rightItem}}
        .ui.right.corner.label(ng-class="diffline.rightstate") {{diffline.rightdesc}}
        .diff.text(href="",target="blank", ng-bind-html="diffline.right")
  .ui.pointing.label.diff-comment(ng-bind-html="comment", ng-show="comment")
